{% load static   %}
<div id="wrapper" class="clearfix">
    <!-- preloader -->
    <div id="preloader">
      <div id="spinner">
        <div class="preloader-dot-loading">
          <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
      </div>
      <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
    </div>  
    
    <!-- Header -->
    <header id="header" class="header">
      <div class="header-top bg-theme-color-2 sm-text-center p-0">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="widget no-border m-0">
                <ul class="list-inline font-13 sm-text-center mt-5">
                  <li class="text-white"></li>
                  <li class="text-white"></li>
                  <li>
                    <a class="text-white" href="{% url 'register' %}">Login</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="widget m-0 pull-right sm-pull-none sm-text-center">
                <ul class="list-inline pull-right">
                  <li class="mb-0 pb-0">
                  </li>
                  <li class="mb-0 pb-0">
                    <div class="top-dropdown-outer pt-5 pb-10">
                      <a class="top-search-box has-dropdown text-white text-hover-theme-colored"><i class="fa fa-search font-13"></i> &nbsp;</a>
                      <ul class="dropdown">
                        <li>
                          <div class="search-form-wrapper">
                            <form method="get" class="mt-10" action="{% url 'search' %}">
                              {% csrf_token %}
                              <input type="text" onfocus="if(this.value =='Enter your search') { this.value = ''; }" onblur="if(this.value == '') { this.value =''; }" value="" id="searchinput" name="key" class="">
                              <label><input type="submit" name="submit" value=""></label>
                            </form>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="widget no-border m-0 mr-15 pull-right flip sm-pull-none sm-text-center">
                <ul class="styled-icons icon-circled icon-sm pull-right flip sm-pull-none sm-text-center mt-sm-15">
                  <!-- <li><a   href="index-boxed-mp-layout1.html#"><i class="fa fa-facebook text-white"></i></a></li>
                  <li><a href="index-boxed-mp-layout1.html#"><i class="fa fa-twitter text-white"></i></a></li>
                  <li><a href="index-boxed-mp-layout1.html#"><i class="fa fa-google-plus text-white"></i></a></li> -->
                  <li><a href="https://www.instagram.com/itsaallicho/"><i class="fa fa-instagram text-white"></i></a></li>
                  <!-- <li><a href="index-boxed-mp-layout1.html#"><i class="fa fa-linkedin text-white"></i></a></li> -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-middle p-0 bg-lightest xs-text-center">
        <div class="container pt-0 pb-0">
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-5">
              <div class="widget no-border m-0">
                <a class="menuzord-brand pull-left flip xs-pull-center mb-15" href="{% url 'index' %}"><img src="{% static 'images/logo-wide.png' %}" alt=""></a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="widget no-border pull-right sm-pull-none sm-text-center mt-10 mb-10 m-0">
                <ul class="list-inline">
                  <li><i class="fa fa-phone-square text-theme-colored font-36 mt-5 sm-display-block"></i></li>
                  <li>
                    <a  class="font-12 text-gray text-uppercase">Позвони сейчас!</a>
                    <h5 class="font-14 m-0">{{ setting.phone }}</h5>
                  </li>
                </ul>
              </div>
            </div>  
            <div class="col-xs-12 col-sm-4 col-md-3">
              <div class="widget no-border pull-right sm-pull-none sm-text-center mt-10 mb-10 m-0">
                <ul class="list-inline">
                  <li><i class="fa fa-clock-o text-theme-colored font-36 mt-5 sm-display-block"></i></li>
                  <li>
                    <a class="font-12 text-gray text-uppercase">Мы открыты!</a>
                    <h5 class="font-13 text-black m-0"> Mon-Sat 8:00-21:00</h5>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-nav">
        <div class="header-nav-wrapper navbar-scrolltofixed bg-theme-colored border-bottom-theme-color-2-1px">
          <div class="container">
            <nav id="menuzord" class="menuzord bg-theme-colored pull-left flip menuzord-responsive">
              <ul class="menuzord-menu">
                <li class="active"><a href="{% url 'index' %}">Домой</a>
                </li>
                <li><a >Страницы</a>
                  <ul class="dropdown">
                    <li><a href="{% url 'profile' %}">Профиль</a>
                      <ul class="dropdown">
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}">Аккаунт</a></li>
                        <li><a href="{% url 'update' user.id %}">Редактировать</a></li>
                        {% else %}

                        {% endif %}
                      </ul>
                    </li>
                    <li><a href="{% url 'jobs' %}">Работа <span class="label label-success">New</span></a>
                      <ul class="dropdown">
                        <li><a href="{% url 'jobs' %}">Оставить Запрос</a></li>
                      </ul>
                    </li>
                    <li><a href="{% url 'contacts' %}">Контакты</a>
                    </li>
                  </ul>
                </li>
                <li><a href="index-boxed-mp-layout1.html#home">Курсы</a>
                  <ul class="dropdown">
                    <li><a href="{% url 'grid' %}">Все курсы</a></li>
                  </ul>
                </li>
                <li><a href="index-boxed-mp-layout1.html#home">Учителя</a>
                  <ul class="dropdown">
                    <li><a href="{% url 'teachers-all' %}"> Все учителя</a></li>
                  </ul>
                </li>
              <ul class="pull-right flip hidden-sm hidden-xs">
                <li>
                  <!-- Modal: Book Now Starts -->
                  {% if user.is_authenticated %}
                  {% csrf_token %}
                  <a class="btn btn-colored btn-flat bg-theme-color-2 text-white font-14 bs-modal-ajax-load mt-0 p-25 pr-15 pl-15"  href="{% url 'profile' %}">{{ request.user.username }}</a>
                  {% else %}
                  <a class="btn btn-colored btn-flat bg-theme-color-2 text-white font-14 bs-modal-ajax-load mt-0 p-25 pr-15 pl-15"  href="{% url 'register' %}">Register</a>
                  {% endif %}
                  <!-- Modal: Book Now End -->
                </li>
              </ul>
              <div id="top-search-bar" class="collapse">
                <div class="container">
                  <form role="search" action="index-boxed-mp-layout1.html#" class="search_form_top" method="get">
                    <input type="text" placeholder="Type text and press Enter..." name="s" class="form-control" autocomplete="off">
                    <span class="search-close"><i class="fa fa-search"></i></span>
                  </form>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>