

.logo{
    height: 35px;
    width: 35px;
    margin-bottom: 35px;
}

.button{
    /* display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; */
    margin-left: 930px;
}

.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 300px;
    background: #dde1e7;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffff73,
                3px 3px 5px rgba(94,104,121,0.288);
  }
.button .toggle{
    height: 40px;
    width: 100px;
  }
.toggle input{
    position: relative;
    height: 100%;
    width: 100%;
    background: #dde1e7;
    outline: none;
    -webkit-appearance: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: -8px -4px 8px 0px #ffffff73,
                8px 4px 12px 0px rgba(94,104,121,0.288),
                inset -4px -4px 4px 0px #ffffff73,
                inset 4px 4px 4px 0px rgba(94,104,121,0.288);
  }
.toggle input:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background: #dde1e7;
    border-radius: 50%;
    box-shadow: -8px -4px 8px 0px #ffffff73,
                8px 4px 12px 0px rgba(94,104,121,0.288);
    transition: left 0.4s cubic-bezier(0.85,0.05,0.18,1.35);
  }
input:checked:before{
    left: 60px;
    box-shadow: -8px -4px 8px 0px #ffffff73;
  }
.text:before{
    position: relative;
    content: 'Русский';
    margin-left: 20px;
    font-size: 20px;
    color: #a6a6a6;
    letter-spacing: 1px;
    float: right;
    width: 12px;
  }
  .text.check:before{
    content: 'English';
    color: #3498db;
  }




.githubimage{
    display: flex;
    justify-content: space-between;
}

*{
    box-sizing: border-box;
}

.logotodo{
    text-align: center;
}


h1,h2,h3,h4,h5,h6{
    text-align: center;
}

.todobtn{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.todobtn {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
.todobtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.todobtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.todobtn:hover span {
    padding-right: 25px;
}
  
.todobtn:hover span:after {
    opacity: 1;
    right: 0;
}

.onlinelogo{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    height: 157px;
    width: 157px;
    border-radius: 50%;
}

.onlinelogo{
    margin-top: 20px;
}

.insta{
    margin-top: 20px;
}


.insta{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    height: 157px;
    width: 157px;
    border-radius: 50%;
}

.myinsta{
    margin-top: 200px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0); 
    height: 50px;
    width: 50px;
    border-radius: 50%; 
    float: left;
    margin: 0 1em 1em 0;
}