{% extends 'homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}
  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static 'images/bg/bg3.jpg' %}">
      <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <h2 class="title text-white">Детали курса</h2>
              <ol class="breadcrumb text-left text-black mt-10">
              
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Blog -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8 blog-pull-right">
            <div class="single-service">
              <img src="{{ course.course_image.url }}" alt="">
              <h3 class="text-theme-colored line-bottom text-theme-colored">Профессия: {{ course.name }}</h3>
              <h4 class="mt-0"><span class="text-theme-color-2">Цена :</span>{{ course.price }}</h4>
                <ul class="review_text list-inline">
                  <li>
                    <div class="star-rating" title="Rated 4.50 out of 5"><span style="width: 90%;">4.50</span></div>
                  </li>
                </ul>
              <h5><em> {{course.description}} <span class="text-theme-color-2"></span><span class="text-theme-color-2"> </span></em></h5>
              <p></p>
              <p></p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="sidebar sidebar-left mt-sm-30 ml-40">
              <div class="widget">
                <h4 class="widget-title line-bottom">Курс <span class="text-theme-color-2"></span></h4>
                <div class="services-list">
                  <ul class="list list-border angle-double-right">
                    <li class="active"><a href="{% url 'bank' %}">{{  course.name }}-Купить</a></li>
                  </ul>
                </div>
              </div>
              <div class="widget">
                <h4 class="widget-title line-bottom">График <span class="text-theme-color-2">Работы</span></h4>
                <div class="opening-hours">
                  <ul class="list-border">
                    <li class="clearfix"> <span> ПН-ВТ :  </span>
                      <div class="value pull-right"> 8.00 am - 9.00 pm </div>
                    </li>
                    <li class="clearfix"> <span> СР-ЧТ :</span>
                      <div class="value pull-right"> 8.00 am - 9.00 pm </div>
                    </li>
                    <li class="clearfix"> <span> ПТ : </span>
                      <div class="value pull-right"> 8.00 am - 9.00 pm </div>
                    </li>
                    <li class="clearfix"> <span> СБ : </span>
                      <div class="value pull-right"> 8.00 am - 9.00 pm </div>
                    </li>
                    <li class="clearfix"> <span> ВС : </span>
                      <div class="value pull-right"> ЗАКРЫТО </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="widget">
                <h4 class="widget-title line-bottom">Оставьте <span class="text-theme-color-2">Отзыв</span></h4>
                <form class="quick-contact-form" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    {% if user.is_authenticated %}
                    <textarea name="text" class="form-control" required="" placeholder="Оставить отзыв" rows="3"></textarea>
                    <br>
                    <div class="form-group">
                      <button type="submit" class="btn btn-theme-colored btn-flat btn-xs btn-quick-contact text-white pt-5 pb-5">Отправить</button>
                    </div>
                    {% else %}
                    <textarea name="text" class="form-control" required="" placeholder="Вы не можете оставить отзыв т.к вы не зарегистрированы" rows="3"></textarea>
                    {% endif %}
                  </div>
                 
                </form>
                
                <form method="POST" action=".">
                  {% csrf_token %}
    
                  {{ form.as_p }}
    
                  <button>Разместить</button>
                </form>
                <!-- Quick Contact Form Validation-->
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end main-content -->

  <!-- Divider: testimonials -->
  <section class="divider parallax layer-overlay overlay-theme-colored-9" data-background-ratio="0.5" data-bg-img="images/bg/bg2.jpg">
    <div class="container pb-50">
      <div class="section-title">
        <div class="row">
          <div class="col-md-6">
            <h5 class="font-weight-300 m-0 text-gray-lightgray">Отзывы от учеников</h5>
            <h2 class="mt-0 mb-0 text-uppercase line-bottom text-white font-28">ОТЗЫВЫ<span class="font-30 text-theme-color-2">.</span></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-10">
          <div class="owl-carousel-2col boxed" data-dots="true">
            {% for comment in comments %}
            {% if comment.comment_user.name == course.name %}
            <div class="item">
              <div class="testimonial pt-10">
                <!-- <div class="thumb pull-left mb-0 mr-0 pr-20">
                  <img width="75" style="width:75px; height:75px;" class="img-circle" alt="" src="">
                </div> -->
                <div class="ml-100 ">
                  <h4 class="text-white mt-0">{{ comment.text }}</h4>
                  <p class="author mt-20">- <span class="text-theme-color-2">{{ comment.user }},</span> <small><em class="text-gray-lightgray">{{ comment.created }}</em></small></p>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div> 
        </div>
      </div>
    </div>
  </section>
  <br>
  {% include 'include/footer.html' %}
{% endblock %}