{% extends 'homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}
    

    <!-- Section: COURSES -->
    <section class="bg-lighter">
      <div class="container pb-60">
        <div class="section-title mb-10">
        <div class="row">
          <div class="col-md-8">
            <h2 class="mt-0 text-uppercase font-28 line-bottom line-height-1">Наши <span class="text-theme-color-2 font-weight-400">курсы </span></h2>
         </div>
        </div>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <div class="owl-carousel-4col" data-dots="true">
                {% for course in courses %}
                <div class="item ">
                  <div class="service-block bg-white">
                    <div class="thumb"> <img alt="featured project" src="{{ course.course_image.url }}" class="img-fullwidth">
                    <h4 class="text-white mt-0 mb-0"><span class="price">{{ course.price  }}</span></h4>
                    </div>
                    <div class="content text-left flip p-25 pt-0">
                      <h4 class="line-bottom mb-10">{{ course.name }}</h4>
                      <p>{{ course.languages }}</p>
                     <a class="btn btn-dark btn-theme-colored btn-sm text-uppercase mt-10" href="{% url 'course_detail' course.id %}">ХОЧУ!</a>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  {% include 'include/footer.html' %}
{% endblock %}