{% extends 'homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}
  <div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static 'images/bg/bg3.jpg' %}">
      <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <h2 class="title text-white">My Account</h2>
              <ol class="breadcrumb text-left text-black mt-10">
                <li><a href="page-account.html#">Home</a></li>
                <li><a href="page-account.html#">Pages</a></li>
                <li class="active text-gray-silver">Page Title</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
      
    <!-- Section: Doctor Details -->
    <section class="">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-sx-12 col-sm-4 col-md-4">
              <div class="doctor-thumb">
                <img src="{{ user.profile_image }}" alt="">
              </div>
              <div class="info p-20 bg-black-333">
                <h4 class="text-uppercase text-white">{{ user.username }}</h4>
                <ul class="list angle-double-right m-0">
                  <li class="mt-0 text-gray-silver"><strong class="text-gray-lighter">Email</strong><br> {{ user.email }}</li>
                  <li class="text-gray-silver"><strong class="text-gray-lighter">Web</strong><br> www.yourdomain.com</li>
                </ul>
                <ul class="styled-icons icon-gray icon-circled icon-sm mt-15 mb-15">
                  <li><a href="page-account.html#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="page-account.html#"><i class="fa fa-skype"></i></a></li>
                  <li><a href="page-account.html#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="page-account.html#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <a class="btn btn-info btn-flat mt-10 mb-sm-30" href="{% url 'update' %}">Edit Profile</a>
                <a class="btn btn-danger btn-flat mt-10 mb-sm-30" href="{% url 'logout' %}">Logout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>  
  </div>
  <!-- end main-content -->
  

  {% include 'include/footer.html' %}
{% endblock %}