{% extends 'homepage.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}
{% include 'include/header.html' %}
  
  <!-- start main-content -->
  <div class="main-content"> 
    <!-- Section: home -->
    <section id="home" class="divider parallax fullscreen layer-overlay overlay-white-9" data-bg-img="images/bg/bg1.jpg">
      <div class="display-table">
        <div class="display-table-cell">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-md-push-3">
                <div class="text-center mb-60"><a href="{% url 'index' %}" class=""><img alt="" src="{% static 'images/logo-wide.png' %}"></a></div>
                <h4 class="text-theme-colored mt-0 pt-5"> Войти</h4>
                <p>Если у вас уже имеется аккаунт войдите.</p>
                <form name="login-form" method="POST" class="form-transparent clearfix">
                  {% csrf_token %}
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label for="form_username_email">Username</label>
                      <input id="form_username_email" name="username" class="form-control" type="text">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label for="form_password">Password</label>
                      <input id="form_password" name="password" class="form-control" type="password">
                    </div>
                  </div>
                  <div class="checkbox pull-left mt-15">
                    <label for="form_checkbox">
                      <input id="form_checkbox" name="form_checkbox" type="checkbox">
                      Remember me </label>
                  </div>
                  <div class="form-group pull-right mt-10">
                  </div>
                  <div class="clear text-center pt-10">

                  </div>
                  <div class="clear text-center pt-10">
                    <button type="submit" class="btn btn-dark btn-lg btn-block no-border mt-15 mb-15">Login</button>

                    <a class="btn btn-dark btn-lg btn-block no-border mt-15 mb-15" href="{% provider_login_url 'google' %}x`" data-bg-color="#3b5998">Login with google</a>
                    
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end main-content --> 

  {% include 'include/footer.html' %}
{% endblock %}